.footer {
    margin-top: 4rem;
    padding-top: 4rem;
    background-color: #323232;
    color: #dfdfdf;
}

.footer-left img {
    width: 9rem;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons i {
    font-size: 1.3rem;
    padding: 6px;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border: 1px solid #dfdfdf;
    border-radius: 1rem;
}



.footer-center div,
.footer-right div {
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.footer hr {
    width: 80%;
    margin: auto;
    margin-top: 4rem;
}

.footer-copyright span.copyright {
    font-size: 22px;
    margin: 2px;
}

.footer-copyright p {
    font-size:0.75rem;
}